.about{
    color: $title;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;

    &__text{
        margin-bottom: 20px;
    }

    &__title{
        font-size: 38px;
        margin-bottom: 20px;
    }
    
    &__description{
        color: $subtitle;
        font-size: 15px;
        margin-bottom: 20px;
    }

    &__img{
        width: 100%;
    }
}

@media(min-width: 1024px){
    .about{
        flex-direction: row;


        &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 200px;
        }
    }
}