.header{
    background-image: url('../img/hero-bg.jpg');
    height: 140vh;
    background-position: center;
    background-size: cover;

    &__logo{
        position: fixed;
        top: 30px;
        left: 50%;
        transform: translate(-50%);

        &--scrolled {
            display: none;
        }
    }

    &__nav-mobile{
        position: fixed;
        width: 100%;
        top: 130px;
        display: flex;
        border-top: 1px rgba(254, 255, 250, 0.3) solid;
        border-bottom: 1px rgba(254, 255, 250, 0.3) solid;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        transition: ease .5s;

        &--scrolled{
            top: 0;
            background-color: #000;
        }
    }

    &__menu-title{
        font-size: 14px;
        font-weight: normal;
    }

    &__text{
        padding-top: 63vh;
        margin: 0 10px 50px 20px;
        display: flex;
        flex-direction: column;   
    }

    &__subtitle{
        font-size: 16px;
        font-weight: normal;
    }

    &__title{
        font-size: 45px;
        margin-top: 20px;
    }

    &__description{
        margin-top: 20px;
        font-size: 15px;
 
    }

    &__button{
        margin-top: 20px;
        height: 50px;
        width: 60%;
        border: none;
        background-color: #db3232;
        font-family: 'Roboto';
        color: #fff;
        font-weight: bold;
    }

    &__burger{
        position: relative;
        z-index: 10000000;
    }
}

@media(min-width: 768px){
    .header{
        height: 110vh;
        margin-bottom: 100vh;
        &__text{
            padding-top: 40vh;
        }
    }
}

@media(min-width:1024px){
    .header{
        padding-left: 15%;
        padding-right: 15%;
        &__nav-mobile{
            display: none;
        }

        &__nav{
            position: fixed;
            top: 130px;
            width: 70%;
            height: 70px;
            border-top: 1px rgba(254, 255, 250, 0.3) solid;
            border-bottom: 1px rgba(254, 255, 250, 0.3) solid;

            &--scrolled{
                top: 0;
                background-color: rgba(0,0,0, 0.6);
                border: none;
                width: 100%;
                left: 0;
            }
        }

        &__list{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        &__item {
            margin-right: 20px;
        }

        &__link{
            color: #fff;
            text-decoration: none;
            font-size: 13px;
            text-transform: uppercase;
            transition: color .3s ease-in-out;
            cursor: pointer;
            
            &:hover{
             color: #db3232;   
            }
        }

        &__text{
            width: 40%;
        }
        
        &__title{
            font-size: 60px;
            margin-top: 40px;
        }

        &__button{
            margin-top: 40px;
            width: 40%;
            transition: background-color .3s ease-in-out;
            cursor: pointer;

            &:hover{
                background-color: #2B2A2A;
            }
        }
    }
}